workflows/1_trigger.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65cfd62e-f694-4f21-8b2c-134453cdf1aa",
              "name": "ValidatedBy",
              "value": " Robert Martin",
              "type": "string"
            },
            {
              "id": "775b42cd-3e0c-4fbf-ae03-52100c641901",
              "name": "TransferID",
              "value": 0,
              "type": "number"
            },
            {
              "id": "0ea13e2e-e298-49ea-8913-0dcdb89aa229",
              "name": "SaleOrder",
              "value": "0000",
              "type": "string"
            },
            {
              "id": "f84baf1b-44db-49fc-ae44-d331e5a79365",
              "name": "Name",
              "value": "={{ $json['First Name'] + $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "1419e264-bc0f-4c6d-a567-ea524d8ae755",
              "name": "Email",
              "value": "customerservice@welpakco.com",
              "type": "string"
            },
            {
              "id": "82830f9f-bdf5-4f5c-9863-4dcf8042e2f5",
              "name": "PhoneNumber",
              "value": "9842354905",
              "type": "string"
            },
            {
              "id": "e5710c21-0afe-4300-a043-c1c2837b3fbc",
              "name": "Address1",
              "value": "={{ $json.Address }}",
              "type": "string"
            },
            {
              "id": "ee17ee12-960d-4128-b18c-8b835310adc0",
              "name": "Address2",
              "value": "",
              "type": "string"
            },
            {
              "id": "4b21cce0-2c7a-4bc9-8daf-d89d6eec7022",
              "name": "State",
              "value": "={{ $json.State }}",
              "type": "string"
            },
            {
              "id": "0702a85f-0a54-49df-af42-8adf1f3d0feb",
              "name": "City",
              "value": "={{ $json.City }}",
              "type": "string"
            },
            {
              "id": "5541fbac-7e00-4882-b647-85ad6d9d36e6",
              "name": "ZipCode",
              "value": "={{ $json['Zip Code'] }}",
              "type": "string"
            },
            {
              "id": "55b74ca9-e563-4bb8-8a3a-dd666ec9ae74",
              "name": "CountryCode",
              "value": "US",
              "type": "string"
            },
            {
              "id": "a9234bcc-fad6-4f47-97a6-6f7a817f0131",
              "name": "ShippingMethod",
              "value": " Welpak UPS",
              "type": "string"
            },
            {
              "id": "b9a2a8ce-4f20-43d9-8631-5d16b6303443",
              "name": "Company",
              "value": "Chilly Water",
              "type": "string"
            },
            {
              "id": "cd932e17-eb8b-44c1-b93f-202e03abc9ab",
              "name": "CompanyLocation",
              "value": "Kinston",
              "type": "string"
            },
            {
              "id": "f2b59496-4c9f-4951-8fa2-7a558f5ae62a",
              "name": "Weight",
              "value": 14,
              "type": "number"
            },
            {
              "id": "d2eb2539-9b57-48ea-94e8-90b04f928e89",
              "name": "Length",
              "value": 11,
              "type": "number"
            },
            {
              "id": "458029a4-a864-452a-87bd-a048e2aabd74",
              "name": "Width",
              "value": 7,
              "type": "number"
            },
            {
              "id": "2b2e7694-fbc9-40bc-88b3-051449d8f144",
              "name": "Height",
              "value": 9,
              "type": "number"
            },
            {
              "id": "2c5a5d19-8ea3-4d8a-a208-23eacd9b35f9",
              "name": "NumberOfParcels",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -224
      ],
      "id": "5b4ddaee-bc05-48ee-b1ee-9a87be39ea8a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "path": "/home/welpak2/ChillyWater/xmas2025List.xlsx",
        "options": {
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        48,
        -224
      ],
      "id": "125ac58a-d003-4095-9340-aa565c4fb474",
      "name": "Download a file",
      "credentials": {
        "sshPassword": {
          "id": "6eXf7JRqRKu2mN32",
          "name": "welpak2(root)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -208
      ],
      "id": "1bb8e36f-1e07-4fe1-829f-60f2793406ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true,
          "rawData": false,
          "sheetName": "Sheet1"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        256,
        -208
      ],
      "id": "0e7dcb07-4ad5-45fd-aacb-62a8c58d3de8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R7Ermu3P7S7DvLot",
          "mode": "list",
          "cachedResultUrl": "/workflow/R7Ermu3P7S7DvLot",
          "cachedResultName": "Chilly Water Rates"
        },
        "workflowInputs": {
          "mappingMode": "passThroughAll",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        -208
      ],
      "id": "f4f7cc7e-a36f-47d4-a244-e77aa44d7df2",
      "name": "Call 'Chilly Water Rates'"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Chilly Water Rates'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "34dbf6be0a29da969eb7893451909930b59204e81a41cfb32c06ffd48cfb47fe"
  }
}