workflows/2_main.json
{
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "stfwiSqlN41fsmiy",
          "mode": "list",
          "cachedResultUrl": "/workflow/stfwiSqlN41fsmiy",
          "cachedResultName": "Chilly Water Rates USPS"
        },
        "workflowInputs": {
          "mappingMode": "passThroughAll",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -304
      ],
      "id": "99076cf3-1d3b-4e2b-a3c2-30d5a052f293",
      "name": "Call 'Chilly Water Rates USPS'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8qjalE62c2HpRNVZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/8qjalE62c2HpRNVZ",
          "cachedResultName": "Chilly Water Rates UPS"
        },
        "workflowInputs": {
          "mappingMode": "passThroughAll",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        32,
        -112
      ],
      "id": "3d8839d7-e738-4e60-99d3-4b577bbc2e87",
      "name": "Call 'Chilly Water Rates UPS'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod }}",
                    "rightValue": "=={{ (($node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod || '').toUpperCase().includes('PO BOX SHIPPMENT') || ($node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod || '').toUpperCase().includes('P.O. BOX')) }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60c94cba-7dfc-4117-a180-f2a45e0ee41a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "319a698f-094c-4ff4-a940-666d82938e6e",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod }}",
                    "rightValue": "=={{ (($node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod || '').toUpperCase().includes('PO BOX SHIPPMENT') || ($node[\"When Executed by Another Workflow\"]?.json?.body?.ShippingMethod || $json.ShippingMethod || '').toUpperCase().includes('P.O. BOX')) }}",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -592,
        -192
      ],
      "id": "3eddbeea-92ff-4e67-9250-7ffda0e3be0c",
      "name": "Chilly PO Box Check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        256,
        -208
      ],
      "id": "87ce99ff-b090-4a3c-bf5f-2e1b65919746",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59300a1e-ff20-4a87-b1fa-1a607a4b79f1",
              "name": "account",
              "value": "United States Post Office",
              "type": "string"
            },
            {
              "id": "983f3209-c581-4022-a905-6bb4106697be",
              "name": "serviceName",
              "value": "={{ $json.bestUSPSRate.rateOption.rates[0].description }}",
              "type": "string"
            },
            {
              "id": "dec0e3a4-7a07-48c6-9e21-1859a2f478b9",
              "name": "serviceCode",
              "value": "={{ $json.bestUSPSRate.indicator }}",
              "type": "string"
            },
            {
              "id": "8e230fff-5996-449a-ba50-d6ca02347c2b",
              "name": "listPrice",
              "value": "={{ $json.bestUSPSRate.rateOption.totalPrice }}",
              "type": "number"
            },
            {
              "id": "f17b92fa-702d-4ba9-a91f-438f7130eb7e",
              "name": "negotiatedPrice",
              "value": "={{ $json.bestUSPSRate.rateOption.totalBasePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -304
      ],
      "id": "3508243e-1aa2-4631-87cc-26a7c07658e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -816,
        -192
      ],
      "id": "e7b49c0e-b0b4-4fed-bca9-0586ba02feb4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f89f2a8-ee39-4c51-93d6-1874a3bb78e4",
              "leftValue": "={{ $('Best Rates USPS & UPS').item.json.isUPS }}",
              "rightValue": "UPS",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "b5afa39a-77f4-47cc-9b6a-e09da9e7b386",
              "leftValue": "={{ $('Best Rates USPS & UPS').item.json.isUSPS }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        -208
      ],
      "id": "03f22b8b-2c3d-46a0-a53d-aa97a2a8e0e0",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"] + '/payments/v3/payment-authorization' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' +  $('Get Bearer Token1').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"roles\": [\n    {\n      \"roleName\": \"PAYER\",\n      \"CRID\": \"47556524\",\n      \"MID\": \"903893095\",      \n      \"manifestMID\": \"903893096\",\n      \"accountType\": \"EPS\",\n      \"accountNumber\": \"1000291907\"\n    },\n    {\n      \"roleName\": \"LABEL_OWNER\",\n      \"CRID\": \"47556524\",\n      \"MID\": \"903893095\",      \n      \"manifestMID\": \"903893096\",\n      \"accountType\": \"EPS\",\n      \"accountNumber\": \"1000291907\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -400
      ],
      "id": "123ac529-ebad-457e-8f39-069f9a040ccf",
      "name": "Get Payment Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"]  + '/labels/v3/label' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get Bearer Token1').item.json.access_token }}"
            },
            {
              "name": "X-Payment-Authorization-Token",
              "value": "={{ $('Get Payment Token').item.json.paymentAuthorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toAddress\": {\n    \"firm\": \"{{ $('Validate Address').item.json.firm || '' }}\",\n    \"firstName\": \"{{ $item(0).$node['Dynamic Params1'].json['firstName'] }}\",\n    \"lastName\": \"{{ $item(0).$node['Dynamic Params1'].json['lastName'] }}\",\n    \"streetAddress\": \"{{ $('Validate Address').item.json.address.streetAddress }}\",\n    \"secondaryAddress\": \"{{ $('Validate Address').item.json.address.secondaryAddress || '' }}\",\n    \"city\": \"{{ $('Validate Address').item.json.address.city }}\",\n    \"state\": \"{{ $('Validate Address').item.json.address.state }}\",\n    \"ZIPCode\": \"{{ $('Validate Address').item.json.address.ZIPCode }}\",\n    \"ZIPPlus4\": \"{{ $('Validate Address').item.json.address.ZIPPlus4 || '0000' }}\"\n  },\n  \"fromAddress\": {\n    \"firm\": \"{{ $item(0).$node['Dynamic Params1'].json['Company'] }}\",\n    \"streetAddress\": \"101 INDUSTRIAL DR\",\n    \"secondaryAddress\": \"STE 100\",\n    \"city\": \"LOUISBURG\",\n    \"state\": \"NC\",\n    \"ZIPCode\": \"27549\",\n    \"ZIPPlus4\": \"2375\"\n  },\n  \"packageDescription\": {\n    \"mailClass\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].mailClass }}\",\n    \"weightUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['WeightUOM'] }}\",\n    \"weight\": {{ $item(0).$node['Dynamic Params1'].json['Weight'] }},\n    \"dimensionsUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['DimensionsUOM'] }}\",\n    \"length\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[0].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Length'] }},\n    \"height\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[1].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Height'] }},\n    \"width\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[2]?.replace(/[^0-9.]/g, '') || 1 : $item(0).$node['Dynamic Params1'].json['Width'] }},\n    \"processingCategory\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].processingCategory || 'NONSTANDARD' }}\",\n    \"mailingDate\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"destinationEntryFacilityType\": \"NONE\",\n    {{\n      (() => {\n        const r = $('Best Rates USPS & UPS').item.json?.bestUSPSRate?.rateOption?.rates?.[0];\n        return (r?.rateIndicator)\n          ? `\"productName\": \"${r.productName}\", \"rateIndicator\": \"${r.rateIndicator}\"`\n          : `\"packagingType\": \"VARIABLE\", \"shape\": \"RECTANGULAR\"`;\n      })()\n    }},\n    \"note\": \"{{ $('Best Rates USPS & UPS').item.json.flatRateBox ? 'Use: ' + $('Best Rates USPS & UPS').item.json.flatRateBox.name + ' (' + $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions + ')' : '' }}\"\n  },\n  \"imageInfo\": {\n    \"imageType\": \"PDF\",\n    \"labelType\": \"4X6LABEL\",\n    \"receiptOption\": \"NONE\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -880
      ],
      "id": "b3eeca4e-4413-4ffa-924f-757bbbb09572",
      "name": "Get Label",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"] + '/addresses/v3/address' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "streetAddress",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"streetAddress\"] }}"
            },
            {
              "name": "secondaryAddress",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"secondaryAddress\"] }}"
            },
            {
              "name": "city",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"city\"] }}"
            },
            {
              "name": "state",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"state\"] }}"
            },
            {
              "name": "ZIPCode",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"ZIPCode\"] }}"
            },
            {
              "name": "ZIPPlus4",
              "value": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"ZIPPlus4\"] || '0000' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $('Get Bearer Token1').item.json.access_token }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -400
      ],
      "id": "554f8a98-2734-4a46-a8e8-90f50f826b04",
      "name": "Validate Address",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// This node extracts the metadata and the Base64 data from the API response.\n\n// Get the full multipart response data from the previous node\nconst multipartData = $input.first().json.data;\n\n// Define the boundary string from the first line\nconst boundary = multipartData.split('\\r\\n')[0];\n\n// Split the data into parts using the boundary\nconst parts = multipartData.split(boundary);\n\n// --- Extract and parse the JSON Metadata part ---\nconst jsonPart = parts.find(part => part.includes('Content-Type: application/json'));\nlet labelMetadata = {};\n\nif (jsonPart) {\n  const jsonContentStartIndex = jsonPart.indexOf('\\r\\n\\r\\n') + 4;\n  const jsonString = jsonPart.substring(jsonContentStartIndex).trim();\n  // Parse the JSON string into an object\n  labelMetadata = JSON.parse(jsonString);\n}\n\n// --- Extract the PDF Base64 data part ---\nconst pdfPart = parts.find(part => part.includes('Content-Type: application/pdf'));\nlet pdfBase64 = '';\n\nif (pdfPart) {\n  const pdfContentStartIndex = pdfPart.indexOf('\\r\\n\\r\\n') + 4;\n  // Get just the Base64 text\n  pdfBase64 = pdfPart.substring(pdfContentStartIndex).trim();\n}\n\n// --- UPDATED: Return a single, clean JSON object ---\n\n// Add the pdfBase64 string as a new key inside the main metadata object\nlabelMetadata.pdfBase64 = pdfBase64;\n\n// Return the single, combined object, wrapped in the standard n8n format\nreturn [{\n  json: labelMetadata\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -416
      ],
      "id": "52453b90-ebe3-4646-ada7-400c803f1c8a",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"] + '/locations/v3/post-office-locations?radius=10&ZIPCode=' + $item(\"0\").$node[\"Dynamic Params1\"].json[\"ZIPCode\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' +  $item(\"0\").$node[\"Get Bearer Token1\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        -576
      ],
      "id": "60820070-427d-4acd-b463-e20dfe7a67fe",
      "name": "Find Post Office"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"]  + '/labels/v3/label' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get Bearer Token1').item.json.access_token }}"
            },
            {
              "name": "X-Payment-Authorization-Token",
              "value": "={{ $('Get Payment Token').item.json.paymentAuthorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toAddress\": {\n    \"firm\": \"{{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"firstName\"] + ' ' + $item(\"0\").$node[\"Dynamic Params1\"].json[\"lastName\"] + ': ' + $item(\"0\").$node[\"Dynamic Params1\"].json[\"streetAddress\"] }}\",\n    \"firstName\": \"{{ $item(0).$node['Dynamic Params1'].json['firstName'] }}\",\n    \"lastName\": \"{{ $item(0).$node['Dynamic Params1'].json['lastName'] }}\",\n    \"streetAddress\": \"GENERAL DELIVERY\",\n    \"city\": \"{{ $('Find Post Office').item.json.locations[0].facilityAddress.city }}\",\n    \"state\": \"{{ $('Find Post Office').item.json.locations[0].facilityAddress.state }}\",\n    \"ZIPCode\": \"{{ $('Find Post Office').item.json.locations[0].facilityAddress.ZIPCode }}\",\n    \"ZIPPlus4\": \"{{ $('Find Post Office').item.json.locations[0].facilityAddress.ZIPPlus4 || '0000' }}\",\n    \"phone\": \"{{ $item(0).$node['Dynamic Params1'].json['Phone'] }}\",\n    \"email\": \"{{ $item(0).$node['Dynamic Params1'].json['Email'] }}\",\n    \"holdForPickup\": true,\n    \"facilityId\": \"{{ $node['Find Post Office'].json['locations'][0]['facilityId'] }}\"\n  },\n  \"fromAddress\": {\n    \"firm\": \"{{ $item(0).$node['Dynamic Params1'].json['Company'] }}\",\n    \"firstName\": \"{{ $item(0).$node['Dynamic Params1'].json['Company'] }}\",\n    \"lastName\": \"Co.\",\n    \"streetAddress\": \"101 INDUSTRIAL DR\",\n    \"secondaryAddress\": \"STE 100\",\n    \"city\": \"LOUISBURG\",\n    \"state\": \"NC\",\n    \"ZIPCode\": \"27549\",\n    \"ZIPPlus4\": \"2375\",\n    \"phone\": \"9842354905\",\n    \"email\": \"customerservice@welpakco.com\"\n  },\n  \"packageDescription\": {\n    \"mailClass\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].mailClass }}\",\n    \"weightUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['WeightUOM'] }}\",\n    \"weight\": {{ $item(0).$node['Dynamic Params1'].json['Weight'] }},\n    \"dimensionsUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['DimensionsUOM'] }}\",\n    \"length\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[0].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Length'] }},\n    \"height\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[1].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Height'] }},\n    \"width\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[2]?.replace(/[^0-9.]/g, '') || 1 : $item(0).$node['Dynamic Params1'].json['Width'] }},\n    \"processingCategory\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].processingCategory || 'NONSTANDARD' }}\",\n    \"mailingDate\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"destinationEntryFacilityType\": \"NONE\",\n    {{\n      (() => {\n        const r = $('Best Rates USPS & UPS').item.json?.bestUSPSRate?.rateOption?.rates?.[0];\n        return (r?.rateIndicator)\n          ? `\"productName\": \"${r.productName}\", \"rateIndicator\": \"${r.rateIndicator}\"`\n          : `\"packagingType\": \"VARIABLE\", \"shape\": \"RECTANGULAR\"`;\n      })()\n    }},\n    \"note\": \"{{ $('Best Rates USPS & UPS').item.json.flatRateBox ? 'Use: ' + $('Best Rates USPS & UPS').item.json.flatRateBox.name + ' (' + $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions + ')' : '' }}\"\n  },\n  \"imageInfo\": {\n    \"imageType\": \"PDF\",\n    \"labelType\": \"4X6LABEL\",\n    \"receiptOption\": \"NONE\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        -416
      ],
      "id": "140afbad-af59-4059-8dcd-9ea136695fd9",
      "name": "Get Label1"
    },
    {
      "parameters": {
        "command": "=bash -lc '\nset -euo pipefail\n\n# Decode the base64 PDF to a temp file\nbase64 -d > /tmp/label.pdf <<'B64'\n{{ $json[\"pdfBase64\"] }}\nB64\n\n# Print it immediately with the proper driver (no raw needed anymore)\nlp -d ZP450 /tmp/label.pdf\n\n# Optional: clean up the temp file after printing\nrm -f /tmp/label.pdf\n'"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3840,
        -512
      ],
      "id": "b216dcf0-fa1a-446e-810e-8d8400b52961",
      "name": "HB Office Print",
      "credentials": {
        "sshPassword": {
          "id": "ZqmqtprTEDQEpX9X",
          "name": "UmbrelHB Root"
        }
      }
    },
    {
      "parameters": {
        "command": "=echo '{{ $('Code').item.json.pdfBase64 }}' | base64 -d | lp -d BIXOLON_SRP-770III -"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3840,
        -320
      ],
      "id": "b11320b2-abfe-41b3-94f7-e22404c13a38",
      "name": "Warehouse Office Print",
      "credentials": {
        "sshPassword": {
          "id": "iYt1qMEelTUMiZKJ",
          "name": "Warehouse Printer"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Dynamic Params1\"].json[\"usps_url\"] + '/oauth2/v3/token' }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "TMvzGU6cCYHHo1JXz7D8Df4EzEv9Lz79maA5otEDeGb6bPV2"
            },
            {
              "name": "client_secret",
              "value": "59AGwhCbHZLCj91KTPmpXnWxC8SbGTVdBGHM3wKx7H8GPri3OgGW5fgNjKA2NlV1"
            },
            {
              "name": "scope"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        -400
      ],
      "id": "8452102d-e3bb-4e4b-92e9-94148ac933ee",
      "name": "Get Bearer Token1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json[\"body\"][\"ValidatedBy\"] }}",
                    "rightValue": "={{ \"Warehouse General\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "268b0510-bc02-48a9-b730-b444cebc6913"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "290ff8a4-0662-4b49-851c-3f35659b6b2c",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json[\"body\"][\"ValidatedBy\"] }}",
                    "rightValue": "={{ \"Warehouse General\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3616,
        -416
      ],
      "id": "6d4e2466-051c-4bdd-99b9-465f2fd557a1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// This node analyzes the result of the address validation to decide the next step.\n\nconst validationResult = $input.first().json;\nlet output = { ...validationResult }; // Start by copying all incoming data\n\n// --- Case 1: The API call itself failed (e.g., hard \"Address Not Found\" error) ---\nif (validationResult.error) {\n  output.status = 'INVALID_ADDRESS';\n  return [{ json: output }];\n}\n\n// --- Case 2: The API call succeeded, now check the DPV and corrections codes ---\nconst dpvConfirmation = validationResult.additionalInfo?.DPVConfirmation;\nconst correctionCode = validationResult.corrections?.[0]?.code;\n\nif (dpvConfirmation === 'Y') {\n  // 'Y' = Perfect match, including the unit number. This is the gold standard.\n  output.status = 'VALID';\n} else if (dpvConfirmation === 'D' || dpvConfirmation === 'S' || correctionCode === '32') {\n  // 'D' = Unit number is missing.\n  // 'S' = Unit number is present but incorrect.\n  // Correction Code '32' = Default address, implies it's a multi-unit building needing a specific unit.\n  // All of these are perfect candidates for \"Hold for Pickup\".\n  output.status = 'HOLD_FOR_PICKUP_REQUIRED';\n} else {\n  // 'N' = The primary street address itself is invalid.\n  output.status = 'INVALID_ADDRESS';\n}\n\n// Return the original data plus our new 'status' field.\nreturn [{\n  json: output\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -400
      ],
      "id": "c7e190a8-0123-45f4-a4a3-97322801e92a",
      "name": "Address Triage",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "VALID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "939b4a80-ccd2-49ae-a754-2b55fe2c7fb6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c52bab6f-6baa-431f-b4ab-6d7a4fa43051",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "HOLD_FOR_PICKUP_REQUIRED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "215c2995-0553-439a-949c-4f858c9805b9",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "INVALID_ADDRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2048,
        -416
      ],
      "id": "cd03a3c2-cb42-4bff-84f9-bcd22bc71b2c",
      "name": "Switch3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"usps_url\"]  + '/labels/v3/label' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Get Bearer Token1').item.json.access_token }}"
            },
            {
              "name": "X-Payment-Authorization-Token",
              "value": "={{ $('Get Payment Token').item.json.paymentAuthorizationToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"toAddress\": {\n    \"firm\": \"{{ $('Validate Address').item.json.firm || \"\" }}\",\n    \"firstName\": \"{{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"firstName\"] }}\",\n    \"lastName\": \"{{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"lastName\"] }}\",\n    \"streetAddress\": \"{{ $('Validate Address').item.json.address.streetAddress }}\",\n    \"secondaryAddress\": \"{{ $('Validate Address').item.json.address.secondaryAddress || \"\" }}\",\n    \"city\": \"{{ $('Validate Address').item.json.address.city }}\",\n    \"state\": \"{{ $('Validate Address').item.json.address.state }}\",\n    \"ZIPCode\": \"{{ $('Validate Address').item.json.address.ZIPCode }}\",\n    \"ZIPPlus4\": \"{{ $('Validate Address').item.json.address.ZIPPlus4 || '0000' }}\"\n  },\n  \"fromAddress\": {\n    \"firm\": \"{{ $item(\"0\").$node[\"Dynamic Params1\"].json[\"Company\"] }}\",\n    \"streetAddress\": \"101 INDUSTRIAL DR\",\n    \"secondaryAddress\": \"STE 100\",\n    \"city\": \"LOUISBURG\",\n    \"state\": \"NC\",\n    \"ZIPCode\": \"27549\",\n    \"ZIPPlus4\": \"2375\"\n  },\n  \"packageDescription\": {\n    \"mailClass\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].mailClass }}\",\n    \"weightUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['WeightUOM'] }}\",\n    \"weight\": {{ $item(0).$node['Dynamic Params1'].json['Weight'] }},\n    \"dimensionsUOM\": \"{{ $item(0).$node['Dynamic Params1'].json['DimensionsUOM'] }}\",\n    \"length\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[0].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Length'] }},\n    \"height\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[1].replace(/[^0-9.]/g, '') : $item(0).$node['Dynamic Params1'].json['Height'] }},\n    \"width\": {{ $('Best Rates USPS & UPS').item.json.flatRateBox ? $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions.split(' x ')[2]?.replace(/[^0-9.]/g, '') || 1 : $item(0).$node['Dynamic Params1'].json['Width'] }},\n    \"processingCategory\": \"{{ $('Best Rates USPS & UPS').item.json.bestUSPSRate.rateOption.rates[0].processingCategory || 'NONSTANDARD' }}\",\n    \"mailingDate\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"destinationEntryFacilityType\": \"NONE\",\n    {{\n      (() => {\n        const r = $('Best Rates USPS & UPS').item.json?.bestUSPSRate?.rateOption?.rates?.[0];\n        return (r?.rateIndicator)\n          ? `\"productName\": \"${r.productName}\", \"rateIndicator\": \"${r.rateIndicator}\"`\n          : `\"packagingType\": \"VARIABLE\", \"shape\": \"RECTANGULAR\"`;\n      })()\n    }},\n    \"note\": \"{{ $('Best Rates USPS & UPS').item.json.flatRateBox ? 'Use: ' + $('Best Rates USPS & UPS').item.json.flatRateBox.name + ' (' + $('Best Rates USPS & UPS').item.json.flatRateBox.dimensions + ')' : '' }}\"\n  },\n  \"imageInfo\": {\n    \"imageType\": \"PDF\",\n    \"labelType\": \"4X6LABEL\",\n    \"receiptOption\": \"NONE\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        -752
      ],
      "id": "9cc0e986-2823-41d9-80df-470b712f72e0",
      "name": "Get Label2",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "639a060b-d283-44e0-8f80-71d4a73c3c95",
              "leftValue": "={{ $json.body.XAVResponse.Response.ResponseStatus.Code }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c7a8af6c-a083-433b-b337-43ebbd5a0d34",
      "name": "If Address Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://onlinetools.ups.com/api/shipments/v2409/ship",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "transId",
              "value": "={{ $executionId + '-' + $item.index }}"
            },
            {
              "name": "transactionSrc",
              "value": "n8n-workflow"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (function() {\n  \n    // --- Get Data From Previous Nodes ---\n    const dynamicParams = $node[\"Dynamic Params1\"].json;\n    \n    // --- Conditionally Set the ShipTo Address ---\n    let shipToAddress = {};\n    const candidateData = $('Validate Address1').item.json.body.XAVResponse.Candidate;\n  \n    if (candidateData) {\n      // If validated data exists, use it\n      const validatedAddress = Array.isArray(candidateData) ? candidateData[0].AddressKeyFormat : candidateData.AddressKeyFormat;\n      shipToAddress = {\n        AddressLine: validatedAddress.AddressLine + \" \" + $('Dynamic Params1').item.json.secondaryAddress,\n        City: validatedAddress.PoliticalDivision2,\n        StateProvinceCode: validatedAddress.PoliticalDivision1,\n        PostalCode: validatedAddress.PostcodePrimaryLow,\n        CountryCode: \"US\"\n      };\n    } else {\n      // Otherwise, fallback to the original dynamic parameters\n      shipToAddress = {\n        AddressLine: [dynamicParams.streetAddress] + \" \" + [dynamicParams.secondaryAddress], // AddressLine must be an array\n        City: dynamicParams.city,\n        StateProvinceCode: dynamicParams.state,\n        PostalCode: dynamicParams.ZIPCode,\n        CountryCode: \"US\"\n      };\n    }\n  \n    // --- Build the Final Request Body ---\n    const shipmentRequest = {\n      \"ShipmentRequest\": {\n        \"Request\": {\n          \"SubVersion\": \"1801\",\n          \"RequestOption\": \"nonvalidate\",\n          \"TransactionReference\": {\n            \"CustomerContext\": \"n8n_shipment_test\",\n            \"TransactionIdentifier\": $executionId\n          }\n        },\n        \"Shipment\": {\n          \"Description\": \"Welpak Co Shipment\",\n          \"Shipper\": {\n            \"Name\": \"Welpak\",\n            \"AttentionName\": \"Customer Service\",\n            \"Phone\": { \"Number\": \"9842354905\" },\n            \"ShipperNumber\": $('Best Rates USPS & UPS').item.json.account,\n            \"Address\": {\n              \"AddressLine\": [\"101 INDUSTRIAL DR\", \"STE 100\"],\n              \"City\": \"Louisburg\",\n              \"StateProvinceCode\": \"NC\",\n              \"PostalCode\": \"27549\",\n              \"CountryCode\": \"US\"\n            }\n          },\n          \"ShipTo\": {\n            \"Name\": dynamicParams.firstName + \" \" + dynamicParams.lastName || \"\",\n            \"AttentionName\": dynamicParams.firstName + ' ' + dynamicParams.lastName,\n            \"Phone\": { \"Number\": \"1234567890\" },\n            \"Address\": shipToAddress,\n            \"Residential\": \"\"\n          },\n          \"ShipFrom\": {\n            \"Name\": \"Welpak\",\n            \"AttentionName\": \"Customer Service\",\n            \"Phone\": { \"Number\": \"9842354905\" },\n            \"Address\": {\n              \"AddressLine\": [\"101 INDUSTRIAL DR\", \"STE 100\"],\n              \"City\": \"Louisburg\",\n              \"StateProvinceCode\": \"NC\",\n              \"PostalCode\": \"27549\",\n              \"CountryCode\": \"US\"\n            }\n          },\n          \"PaymentInformation\": {\n            \"ShipmentCharge\": {\n              \"Type\": \"01\",\n              \"BillShipper\": {\n                \"AccountNumber\": $('Best Rates USPS & UPS').item.json.account\n              }\n            }\n          },\n          \"Service\": {\n            \"Code\": $('Best Rates USPS & UPS').item.json.serviceCode,\n            \"Description\": $('Best Rates USPS & UPS').item.json.serviceName\n          },\n          \"Package\": [{\n            \"Description\": \"Package\",\n            \"Packaging\": { \"Code\": \"02\" },\n            \"Dimensions\": {\n              \"UnitOfMeasurement\": { \"Code\": \"IN\" },\n              \"Length\": dynamicParams.Length.toString(),\n              \"Width\": dynamicParams.Width.toString(),\n              \"Height\": dynamicParams.Height.toString()\n            },\n            \"PackageWeight\": {\n              \"UnitOfMeasurement\": { \"Code\": \"LBS\" },\n              \"Weight\": Math.max(1, parseFloat(dynamicParams.Weight)).toString()\n            }\n          }],\n          \"ShipmentRatingOptions\": {\n            \"NegotiatedRatesIndicator\": \"\"\n          }\n        },\n        \"LabelSpecification\": {\n          \"LabelImageFormat\": {\n            \"Code\": \"GIF\"\n          },\n          \"LabelStockSize\": {\n            \"Height\": \"6\",\n            \"Width\": \"4\"\n          }\n        }\n      }\n    };\n  \n    return shipmentRequest;\n  \n  })()\n}}",
        "options": {}
      },
      "id": "dfbcbe91-adf8-4467-938f-365678abb68d",
      "name": "Create Shipment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2496,
        -48
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "4iLO72hYO3t015yg",
          "name": "Welpak UPS OAuth2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
              "name": "trackingNumber",
              "value": "={{ $json.ShipmentResponse.ShipmentResults.PackageResults[0].TrackingNumber }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-2345-67890abcdef1",
              "name": "pdfBase64",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-3456-7890abcdef12",
              "name": "totalCharge",
              "value": "={{ $json.ShipmentResponse.ShipmentResults.ShipmentCharges.TotalCharges.MonetaryValue }}",
              "type": "number"
            },
            {
              "id": "37e7b96d-cb11-4381-8aa9-56b1530ff0c2",
              "name": "postage",
              "value": "={{\n  (function() {\n    const negotiatedRate = $node[\"Create Shipment\"].json.ShipmentResponse.ShipmentResults.NegotiatedRateCharges?.TotalCharge.MonetaryValue;\n    \n    if (negotiatedRate && parseFloat(negotiatedRate) > 0) {\n      return negotiatedRate;\n    } else {\n      return $node[\"Create Shipment\"].json.ShipmentResponse.ShipmentResults.ShipmentCharges.TotalCharges.MonetaryValue;\n    }\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "fac4cf29-fb7d-41f8-8cdb-e2ea9e0cf567",
              "name": "trackingNumber",
              "value": "={{ $item(\"0\").$node[\"Create Shipment\"].json[\"ShipmentResponse\"][\"ShipmentResults\"][\"ShipmentIdentificationNumber\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6472109e-01f1-4678-9da5-5f879121842f",
      "name": "Extract Label Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://onlinetools.ups.com/api/addressvalidation/v2/1",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "maximumcandidatelistsize",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(function() {\n    const params = $node[\"Dynamic Params1\"].json;\n    const webhookBody = $node[\"When Executed by Another Workflow\"].json;\n\n    const body = {\n        \"XAVRequest\": {\n            \"AddressKeyFormat\": {\n                \"ConsigneeName\": params.firstName + ' ' + params.lastName,\n                \"AddressLine\": [params.streetAddress],\n                \"PoliticalDivision2\": params.city,\n                \"PoliticalDivision1\": params.state,\n                \"PostcodePrimaryLow\": params.postalCode,\n                \"CountryCode\": \"US\"\n            }\n        }\n    };\n\n    const secondaryAddress = webhookBody.Address2;\n    if (typeof secondaryAddress === 'string' && secondaryAddress.trim() !== \"\") {\n        const cleanedAddress = secondaryAddress.replace('#', '').trim();\n        if (cleanedAddress) {\n            body.XAVRequest.AddressKeyFormat.AddressLine.push(cleanedAddress);\n        }\n    }\n\n    return body;\n})()\n}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ad73d3fe-db9b-4311-9853-6f4a2c044d02",
      "name": "Validate Address1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2048,
        112
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "4iLO72hYO3t015yg",
          "name": "Welpak UPS OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This node combines and Base64-encodes the credentials for the Basic Auth header.\n\nconst clientId = $input.first().json.client_id;\nconst clientSecret = $input.first().json.client_secret;\n\n// Combine credentials in the format 'clientId:clientSecret'\nconst credentials = clientId + ':' + clientSecret;\n\n// Base64 encode the combined string.\nconst encoded = Buffer.from(credentials).toString('base64');\n\n// Return the result for the next node to use.\nreturn [{ \n  json: { \n    encoded_credentials: encoded \n  } \n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        112
      ],
      "id": "4dd288d9-6aa2-4818-93c6-2af55f35776a",
      "name": "Encode Credentials1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onlinetools.ups.com/security/v1/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Basic ' + $('Encode Credentials').item.json.encoded_credentials }}"
            },
            {
              "name": "x-merchant-id",
              "value": "string"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        112
      ],
      "id": "599b88af-9550-465b-b32f-7698628f54ab",
      "name": "Get UPS Bearer Token1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json[\"body\"][\"ValidatedBy\"] }}",
                    "rightValue": "={{ \"Warehouse General\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "268b0510-bc02-48a9-b730-b444cebc6913"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "290ff8a4-0662-4b49-851c-3f35659b6b2c",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json[\"body\"][\"ValidatedBy\"] }}",
                    "rightValue": "={{ \"Warehouse General\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "fa46f167-31a6-4cd1-b7f2-03cebacc19c8",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3392,
        112
      ]
    },
    {
      "parameters": {
        "command": "=bash -lc '\nset -euo pipefail\nbase64 -d >/tmp/label.pdf <<'B64'\n{{ $json[\"pdfBase64\"] }}\nB64\nlp -d ZP450 -o media=Custom.4x6in -o orientation-requested=4 -o print-scaling=fill -o LabelTop=-51 /tmp/label.pdf\n'"
      },
      "id": "3c27c91b-593a-411b-88cc-25a3568b043b",
      "name": "HB Office Print1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3616,
        16
      ],
      "credentials": {
        "sshPassword": {
          "id": "ZqmqtprTEDQEpX9X",
          "name": "UmbrelHB Root"
        }
      }
    },
    {
      "parameters": {
        "command": "=bash -lc '\nset -euo pipefail\nbase64 -d >/tmp/label.pdf <<'B64'\n{{ $json[\"pdfBase64\"] }}\nB64\nlp -d BIXOLON_SRP-770III -o media=Custom.4x6in -o orientation-requested=4 -o print-scaling=fill -o LabelTop=-51 /tmp/label.pdf\n'\n"
      },
      "id": "5544351f-fd84-4ecb-ac46-e2883000cdec",
      "name": "Warehouse Office Print1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3616,
        208
      ],
      "credentials": {
        "sshPassword": {
          "id": "iYt1qMEelTUMiZKJ",
          "name": "Warehouse Printer"
        }
      }
    },
    {
      "parameters": {
        "command": "=echo '{{ $json.ShipmentResponse.ShipmentResults.PackageResults[0].ShippingLabel.GraphicImage }}' | base64 -d | convert - pdf:- | base64"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2720,
        -48
      ],
      "id": "460d7437-5800-4fb4-bcc9-3fe3e54057e4",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "6eXf7JRqRKu2mN32",
          "name": "welpak2(root)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bb5f00e-319f-45d8-90da-fd370bacab52",
              "name": "firm",
              "value": "",
              "type": "string"
            },
            {
              "id": "71f4b6f7-1424-421c-ae04-88b20de51c89",
              "name": "firstName",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Name\"].split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "d48eb762-c2f1-4750-b97e-91f8d4d8d374",
              "name": "lastName",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Name\"].split(' ').slice(1).join(' ') }}",
              "type": "string"
            },
            {
              "id": "946dc007-ae2a-4b97-aef7-a9475a87475a",
              "name": "streetAddress",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Address1\"] }}",
              "type": "string"
            },
            {
              "id": "0f62ed00-0ab9-4eec-b495-4992e78376c0",
              "name": "secondaryAddress",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Address2\"] }}",
              "type": "string"
            },
            {
              "id": "b4a86044-ceae-4ff9-95d2-f33bfe1b21d3",
              "name": "state",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"State\"] }}",
              "type": "string"
            },
            {
              "id": "c3c68b34-54d6-4b64-bd4c-2abf156113f5",
              "name": "city",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"City\"] }}",
              "type": "string"
            },
            {
              "id": "7a72f09c-f2df-4005-bff7-64a7ded3488c",
              "name": "ZIPCode",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"ZipCode\"].split('-')[0] }}",
              "type": "string"
            },
            {
              "id": "02e0196f-f4ca-49ce-8cb7-908eaf8429e3",
              "name": "ZIPPlus4",
              "value": "={{ ($('When Executed by Another Workflow').item.json[\"ZipCode\"].split('-')[1] || '') }}",
              "type": "string"
            },
            {
              "id": "7cfc31a2-fc73-4f3d-bca7-fd6d5d36b197",
              "name": "CountryCode",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"CountryCode\"] }}",
              "type": "string"
            },
            {
              "id": "5a8a4064-4445-4043-80f2-a9aa6aee8cd5",
              "name": "ShippingMethod",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"ShippingMethod\"] }}",
              "type": "string"
            },
            {
              "id": "5d2c415d-a4f4-47df-99c3-bce9e9b95f62",
              "name": "Company",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Company\"] }}",
              "type": "string"
            },
            {
              "id": "b413068b-b586-4677-8fc7-096bf0c8372e",
              "name": "CompanyLocation",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"CompanyLocation\"] }}",
              "type": "string"
            },
            {
              "id": "f4476d15-a66f-4aa0-b575-0bb95a80fab5",
              "name": "Weight",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Weight\"] }}",
              "type": "number"
            },
            {
              "id": "babfcd4d-39b7-4224-bb89-ed80260424fa",
              "name": "Length",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Length\"] }}",
              "type": "number"
            },
            {
              "id": "68125d72-7ec6-473d-b803-5398973f4038",
              "name": "Width",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Width\"] }}",
              "type": "number"
            },
            {
              "id": "7bc04696-f84b-4fd0-836c-01ecccb30334",
              "name": "Height",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Height\"] }}",
              "type": "number"
            },
            {
              "id": "87709b0b-0146-4936-8157-c5ad18d0da3d",
              "name": "WeightUOM",
              "value": "lb",
              "type": "string"
            },
            {
              "id": "63b15082-fe9c-44f1-8f42-296dbca62490",
              "name": "DimensionsUOM",
              "value": "in",
              "type": "string"
            },
            {
              "id": "2aad2b41-8dd1-4d6b-8c82-0345de8554e4",
              "name": "Phone",
              "value": "={{
  (function() {

      // --- Helper Function for Cleaning Phone Numbers ---
      function cleanPhoneNumber(phoneNumber) {
        let cleaned = ($('When Executed by Another Workflow').item.json[\"PhoneNumber\"] || '0000000000').split(/ext|extension|:/i)[0].replace(/\\D/g, '');
        if (cleaned.startsWith('1') && cleaned.length === 11) {
          return cleaned.substring(1);
        }
        return cleaned;
      }

      // Call the function with your specific n8n variable and return the result
      return cleanPhoneNumber( $('When Executed by Another Workflow').item.json[\"PhoneNumber\"]);

  })()
}}",
              "type": "string"
            },
            {
              "id": "8099cc83-0518-46c1-92af-3e783394bdcd",
              "name": "Email",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Email\"] || 'rmartin@welpakco.com'}}",
              "type": "string"
            },
            {
              "id": "1cd51eb9-1e6c-4c75-93fd-161589d26bb1",
              "name": "SaleOrder",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"SaleOrder\"] }}",
              "type": "string"
            },
            {
              "id": "21f03740-bcf7-4e7d-886b-759d0736cc5c",
              "name": "usps_url",
              "value": "={{ 'https://apis.usps.com' }}",
              "type": "string"
            },
            {
              "id": "ca0e6389-4550-4c21-bc58-8b4b168712ac",
              "name": "ups_base_url",
              "value": "={{ 'https://onlinetools.ups.com' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -208
      ],
      "id": "a7d6a59f-dbcb-46ee-a571-ee328b59d2aa",
      "name": "Dynamic Params1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $node[\"Code\"].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4064,
        -416
      ],
      "id": "31fec6bf-67ad-4be4-9d83-9d7089488312",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $node[\"Edit Fields3\"].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3840,
        112
      ],
      "id": "a3030440-7451-485d-bd0a-182b6e9a5704",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4f8d975-f852-4467-8c33-b1d1f03403d1",
              "name": "client_id",
              "value": "0A1Ls7QRWjDyuJxl0agsOwnvhSyuDYilcZi1fqZZ5KsHzEa3",
              "type": "string"
            },
            {
              "id": "c62002f2-c2e8-4676-bdc0-388a10731456",
              "name": "client_secret",
              "value": "TUAhIebS8nPxs8lyoKysGLXv7qIFkgmTsC6ZbbRnY1GHlAIApCl0xBw7xBASZpvk",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        112
      ],
      "id": "2da9f15a-c3d3-4976-8faf-78a0719baa04",
      "name": "UPS Credentials"
    },
    {
      "parameters": {
        "jsCode": "// This node combines and Base64-encodes the credentials for the Basic Auth header.\n\nconst clientId = $input.first().json.client_id;\nconst clientSecret = $input.first().json.client_secret;\n\n// Combine credentials in the format 'clientId:clientSecret'\nconst credentials = clientId + ':' + clientSecret;\n\n// Base64 encode the combined string.\nconst encoded = Buffer.from(credentials).toString('base64');\n\n// Return the result for the next node to use.\nreturn [{ \n  json: { \n    encoded_credentials: encoded \n  } \n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        112
      ],
      "id": "3f775215-6dc9-4c46-982e-d6e2bda47ae2",
      "name": "Encode Credentials"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\n\nconst items = $input.all();\n\nfunction extractPrice(it) {\n  const j = it.json || {};\n\n  // UPS prices\n  if (typeof j.negotiatedPrice === 'number') return j.negotiatedPrice;\n  if (typeof j.listPrice === 'number') return j.listPrice;\n\n  // USPS prices (several shapes)\n  if (j.bestUSPSRate) {\n    if (typeof j.bestUSPSRate?.rateOption?.totalPrice === 'number') return j.bestUSPSRate.rateOption.totalPrice;\n    if (typeof j.bestUSPSRate?.totalPrice === 'number') return j.bestUSPSRate.totalPrice;\n  }\n  if (typeof j.rateOption?.totalPrice === 'number') return j.rateOption.totalPrice;\n  if (typeof j.winner?.totalPrice === 'number') return j.winner.totalPrice;\n\n  if (typeof j.totalPrice === 'number') return j.totalPrice;\n\n  return Number.NaN;\n}\n\nfunction detectCarrier(j = {}) {\n  if (typeof j?.winner?.carrier === 'string') return j.winner.carrier.toUpperCase();\n  if (typeof j?.carrier === 'string') return j.carrier.toUpperCase();\n  \n  // CHANGE 1: Prioritize USPS heuristics before UPS to avoid false positives\n  // NEW: Added explicit USPS check for serviceName and account\n  if (j.serviceName?.toUpperCase().includes('USPS') || j.account === 'United States Post Office') return 'USPS';\n  \n  if ('bestUSPSRate' in j) return 'USPS';\n  if (typeof j?.rateOption?.rates?.[0]?.mailClass === 'string') {\n    const mc = j.rateOption.rates[0].mailClass.toUpperCase();\n    if (mc.includes('USPS') || mc.includes('PRIORITY_MAIL')) return 'USPS';\n  }\n  if ('token' in j) return 'USPS';\n  \n  // CHANGE 2: Moved UPS heuristics after USPS checks\n  // CHANGE 3: Removed broad check for 'account'/'serviceCode'/'serviceName' in j to prevent UPS misdetection on USPS items\n  if ('negotiatedPrice' in j || 'listPrice' in j) return 'UPS';\n  \n  return 'UNKNOWN';\n}\n\nlet cheapest = null;\nlet cheapestIndex = -1;\n\nfor (let i = 0; i < items.length; i++) {\n  const price = extractPrice(items[i]);\n  if (Number.isFinite(price)) {\n    if (!cheapest || price < cheapest.price) {\n      cheapest = { price, item: items[i] };\n      cheapestIndex = i;\n    }\n  }\n}\n\nif (!cheapest) {\n  return [{ json: { error: true, message: 'No priced items found.' } }];\n}\n\n// Augment output with carrier info\nconst src = cheapest.item.json || {};\nconst carrierDetected = detectCarrier(src);\n\nconst out = { ...src };\nif (!('carrier' in out)) out.carrier = carrierDetected; // keep original if already set\nout.carrierDetected = carrierDetected;                   // always present\nout.isUPS = carrierDetected === 'UPS';\nout.isUSPS = carrierDetected === 'USPS';\n\nreturn [{\n  json: out,\n  pairedItem: { item: cheapestIndex },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -208
      ],
      "id": "cb08262a-23f0-42ce-a1ec-d22eb5f78ade",
      "name": "Best Rates USPS & UPS"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        112
      ],
      "id": "5cc17e15-e10f-4eff-a1e3-f53297c3cac4",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        -416
      ],
      "id": "29e6227c-e4c0-4404-b861-564c30e1fc78",
      "name": "Edit Fields4"
    }
  ],
  "connections": {
    "Call 'Chilly Water Rates USPS'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Chilly Water Rates UPS'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chilly PO Box Check": {
      "main": [
        [
          {
            "node": "Call 'Chilly Water Rates USPS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Chilly Water Rates UPS'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'Chilly Water Rates USPS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Best Rates USPS & UPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Chilly PO Box Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Bearer Token1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encode Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment Token": {
      "main": [
        [
          {
            "node": "Validate Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Label": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Label2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Address": {
      "main": [
        [
          {
            "node": "Address Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Post Office": {
      "main": [
        [
          {
            "node": "Get Label1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Label1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HB Office Print": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warehouse Office Print": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bearer Token1": {
      "main": [
        [
          {
            "node": "Get Payment Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HB Office Print",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warehouse Office Print",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address Triage": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Post Office",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Post Office",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Label2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Post Office",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Address Valid": {
      "main": [
        [
          {
            "node": "Create Shipment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shipment": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Label Info": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Address1": {
      "main": [
        [
          {
            "node": "If Address Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Credentials1": {
      "main": [
        [
          {
            "node": "UPS Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UPS Bearer Token1": {
      "main": [
        [
          {
            "node": "Validate Address1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HB Office Print1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warehouse Office Print1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HB Office Print1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warehouse Office Print1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Extract Label Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Params1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPS Credentials": {
      "main": [
        [
          {
            "node": "Encode Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Credentials": {
      "main": [
        [
          {
            "node": "Get UPS Bearer Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Best Rates USPS & UPS": {
      "main": [
        [
          {
            "node": "Dynamic Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "ValidatedBy": " Robert Martin",
        "TransferID": 0,
        "SaleOrder": "0000",
        "Name": "Tom Pohlpatz",
        "Email": "customerservice@welpakco.com",
        "PhoneNumber": "9842354905",
        "Address1": "100 Ficklen Drive",
        "Address2": "",
        "State": "NC",
        "City": "Greenville",
        "ZipCode": "27858",
        "CountryCode": "US",
        "ShippingMethod": " Welpak UPS",
        "Company": "Chilly Water",
        "CompanyLocation": "Kinston",
        "Weight": 14,
        "Length": 11,
        "Width": 7,
        "Height": 9,
        "NumberOfParcels": 1
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "34dbf6be0a29da969eb7893451909930b59204e81a41cfb32c06ffd48cfb47fe"
  }
}